




NODE_ENV=... // esample value: test
DB_NAME=... // esample value: bookden_test
DB_ADMIN=... // esample value: admin
DB_PASSWORD=... // esample value: password
DB_HOST=... // esample value: local-postgres-database
DB_PORT=... // esample value: 5432

FIRST_SUPERADMIN_USERNAME=... // esample value: superadmin
FIRST_SUPERADMIN_PASSWORD=... // esample value: password

JWT_SECRET=... // esample value: secret
PORT=... // esample value: 3000
