

NODE_ENV=test
DB_NAME=bookden_test
DB_ADMIN=admin
DB_PASSWORD=password
DB_HOST=local-postgres-database
DB_PORT=5432

FIRST_SUPERADMIN_USERNAME=superadmin
FIRST_SUPERADMIN_PASSWORD=password

JWT_SECRET=secret
PORT=3000
